/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require reset
 *= require base
 *= require fluid_grid
 
 *= require_self
 *= require_tree .
*/
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
color: #333;
background-color:#eee;
}
.sidebar{
background-color:#bbb;
min-height:500px;
}
.sidebar ul
{
  padding-top:15px;
}
.sidebar ul li{
  padding-top:7px;
}
.header{
height:60px;
background-color:#2e2e2e;
}
.every-thing{
background-color:#fff;
}
.content{
margin-top:10px;
background-color:#eee;
background-color:#fff;
}
